asgiref
awsebcli
blinker
boto3
botocore
cement
certifi
charset-normalizer
click
colorama
distlib
Django
filelock
idna
itsdangerous
Jinja2
jmespath
MarkupSafe
pathspec
platformdirs
python-dateutil
python-dotenv
PyYAML
requests
s3transfer
semantic-version
six
sqlparse
termcolor
tzdata
urllib3
virtualenv
wcwidth
Werkzeug
