{% extends 'base.html' %}
<!--navbar content-->
{% block navbar-content %}
<a class="dropbtn" href="{% url 'home' %}">Home </a> &nbsp;
<div class="dropdown">
    <button class="dropbtn">Employee Management</button>
    <div class="dropdown-content">
      <a href="{% url 'EmployeeList' %}">Add/View Employee</a>
    </div>
  </div> 

  <div class="dropdown">
    <button class="dropbtn">Salary Management</button>
    <div class="dropdown-content">
      <a href="{% url 'SalaryList' %}">Add/View Salary </a>
    </div>
  </div> 

  <a class="dropbtn" href="{% url 'ContactUs' %}" >Contact Us For Demo </a> &nbsp;

{% endblock navbar-content %}

<!--title on tab browser-->
{% block title} Contact Us For Demo  {% endblock title}

<!--page content-->
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div
                class="card card-body at-5  {% block card-color %} border-dark text-light bg-secondary  {% endblock card-color %}">
                <span class="text-center">{% block card-title%}Enter details below for contact{% endblock card-title%}</span>
            </div>
            <!--Form-->
            <form {% block action %} action="/ContactUs" {% endblock action %} method="POST"
                enctype="multipart/form-data" autocomplete="off" class="card p-3 border-dark pt-3">
                {% csrf_token %}

                <!--block id (hidden here) ====-->
                {% block value-ContactId %}{% endblock value-ContactId %}

                <div class="input-group mb-3">
                    <input type="text" id="Name" class="form-control" name="Name" maxlength="40" placeholder="Enter Full Name"
                        required {% block value-Name %}{% endblock value-Name %}>
                </div>

                <div class="input-group mb-3">
                    <input type="email" id="Email" class="form-control" name="Email" placeholder="Enter Email Id"
                        required {% block value-Email %}{% endblock value-Email %} pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" >
                </div>

                <div class="input-group mb-3">
                    <input type="text" id="ContactNumber" class="form-control" name="ContactNumber" placeholder="Enter Phone Number with country"
                        required {% block value-ContactNumber %}{% endblock value-ContactNumber %} pattern="\d*" 
                        title="Enter a validate phone Number">
                </div>

                <div class="input-group mb-3">
                    <input type="text" id="CompnayName" class="form-control" name="CompnayName" placeholder="Enter Name Of the Company" 
                    required {%block value-CompnayName %}{% endblock value-CompnayName %}>
                </div>

                <div class="form-group">
                    <textarea class="form-control" name="note" id="note" maxlength="1000"
                        placeholder="Description is optional....">{% block note %} {% endblock note %}</textarea>
                </div>

                <div class="mt-4" style="width: 100%;">
                    {% block btn-action %}
                    <button type="submit" class="btn btn-secondary mb-3"  data-toggle="modal" data-target="#saveModal1">
                        <i>&nbsp;&nbsp; Send Message</i> 
                    </button>
                    {% endblock btn-action %}
                    <button type="reset" class="btn btn-outline-dark mb-3 ms-2" style="width:50px" title="reset">
                        <i class="fas fa-sync-alt"></i>
                    </button>
                </div>

      <!-- block btn save-hidden (denied here)-->
      {% block btn-saveHidden %} {% endblock btn-saveHidden %}

                <!-- Button trigger modal -->
     Launch demo modal
  </button> -->
             </form>
        </div>
    </div>
</div>

<!-- -----=======Block Save change==================--------------- -->
<!-- messages from backend -->
{% for message in messages %}
   {% if message.tags == 'success' %}
   <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
     var r="{{message}}";
     swal("perfect !",r,"success")
     </script>
    {% endif %}
 {% endfor %}  

{%endblock content %}