
{% extends 'base.html' %}

<!--navbar content-->
{% block navbar-content %}
<a class="dropbtn" href="{% url 'home' %}">Home </a> &nbsp;
<div class="dropdown">
    <button class="dropbtn">Employee Management</button>
    <div class="dropdown-content">
      <a href="{% url 'EmployeeList' %}">Add/View Employee</a>
    </div>
  </div> 

  <div class="dropdown">
    <button class="dropbtn">Salary Management</button>
    <div class="dropdown-content">
      <a href="{% url 'SalaryList' %}">Add/View Salary </a>
    </div>
  </div> 

  <a class="dropbtn" href="{% url 'ContactUs' %}" >Contact Us For Demo </a> &nbsp;

{% endblock navbar-content %}


<!--page Content-->
{% block content %}
<div class="container">
    <br><br>
    <a href="{% url 'add_employee' %}" class="btn btn-outline-secondary btn-sm"><i class="fas fa-plus">&nbsp;
            &nbsp;Add Employee
        </i></a>
    <table class="table table-boarded table-sm at-4" style="text-align: center;font-size: 14px;">
        <caption>
            <!-- Description: This table represents data related to [Insert Purpose]. -->
            This Table will show you details relate to Employee List
          </caption>
          <!-- Table content... -->
       
        <thead class="table-warning">
            <tr>
                <th style="width: 25%;">FullName</th>
                <th style="width: 15%;">Mobile Number</th>
                <th style="width: 15%;">Gender</th>
                <th style="width: 8%;">Email Ids</th>
                <th style="width: 10%;">Mobile</th>
                <th style="width: 19%;">Registered</th>
                <th colspan="2" style="width: 10%;">Actions</th>
            </tr>
        </thead>
        {% for emp in employees %}
        <tr>
            <td>{{emp.firstName}} {{emp.middleName}} {{emp.lastName}}</td>
            <td>{{emp.mobileNumber}}</td>
            <td>{{emp.gender}}</td>
            <td>{{emp.emailId}}</td>
            <td>{{emp.mobileNumber}}</td>
            <td>{{emp.created_at | date:'m/d/y'}}</td>
            <td>
                <a href="/employee/{{emp.EmpId}}" class="btn btn-warning" title="Edit Employee">
                    <i class="fas fa-pen"></i>
                </a>

                <a href="/delete_employee/{{emp.EmpId}}" class="btn btn-warning" title="delete Employee">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
        <table>
            <caption>
                <!-- Description: This table represents data related to [Insert Purpose]. -->
                <!-- End Of the table discription work -->
              </caption>
              <!-- Table content... -->
           
</div> <!--end of container-->

<!--messages from backend-->
{% for message in messages %}
   {% if message.tags == 'success' %}
   <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
     var r="{{message}}";
     swal("perfect !",r,"success")
     </script>
    {% endif %}
 {% endfor %}  

 {% endblock content %}