{% extends 'base.html' %}

<!--navbar content-->
{% block navbar-content %}
<a class="dropbtn" href="{% url 'home' %}">Home </a> &nbsp;
<div class="dropdown">
  <button class="dropbtn">Employee Management</button>
  <div class="dropdown-content">
    <a href="{% url 'EmployeeList' %}">Add/View Employee</a>
  </div>
</div> 

<div class="dropdown">
  <button class="dropbtn">Salary Management</button>
  <div class="dropdown-content">
    <a href="{% url 'SalaryList' %}">Add/View Salary </a>
  </div>
</div> 

  <a class="dropbtn" href="{% url 'ContactUs' %}" >Contact Us For Demo </a> &nbsp;

{% endblock navbar-content %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div>
            
              <section>
                <h2>Employee Information</h2>
                <p> Human resources and associated procedures are managed throughout the employee lifetime by a suite of software programs known as an HRMS, or human resources management system. With the help of an HRMS, a business can keep up with the ever-changing tax and labor legislation and completely comprehend its personnel.

                  Being in charge of managing daily workforce operations and handling compliance and performance reporting, HR leaders and employees are the main consumers. Still, other departments gain as well, not just HR. With self-service for routine activities, businesses may empower supervisors and staff members, which is a key selling point for recent hires. Managers can create data about labor patterns and their effects on the business with the use of an HRMS.</p>
                <!-- Add more content related to employee information as needed -->
            </section>
            <section>
              <ul>
                <li><strong>Recruitment:</strong>
                    <ul>
                        <li>Write, publish, and distribute job descriptions for available roles.</li>
                        <li>Utilize a variety of resources, including job boards, social media, and professional networks, to actively seek out and identify possible applicants.</li>
                        <li>Go through applications and resumes to identify people that fit the requirements and produce a shortlist.</li>
                        <li>Interview candidates to determine which ones fit the organization's culture, abilities, and experience.</li>
                        <li>To gauge a candidate's aptitude, administer assessments or skills tests.</li>
                    </ul>
                </li>
                <li><strong>Performance Reviews:</strong>
                    <ul>
                        <li>Give staff members precise performance standards and objectives.</li>
                        <li>To evaluate team and individual accomplishments, conduct performance reviews on a regular basis.</li>
                        <li>Give professional growth advice and constructive criticism.</li>
                        <li>Determine areas in need of improvement and, if required, put performance improvement strategies into action..</li>
                    </ul>
                </li>
                <li><strong>Leave Management:</strong>
                    <ul>
                        <li>Handle leave requests and approvals for staff members.</li>
                        <li>Ensure that the absences and vacation balances of your staff are accurately recorded.</li>
                    </ul>
                </li>
                <li><strong>Training and Development:</strong>
                    <ul>
                        <li>Determine your employees' training needs and growth prospects.</li>
                        <li>Plan, organize, and conduct workshops and training sessions.</li>
                    </ul>
                </li>
                <li><strong>Employee Onboarding:</strong>
                    <ul>
                        <li>Prepare and present new recruit orientations and onboarding materials.</li>
                        <li>Introduce the company's policies, procedures, and culture to new hires.</li>
                    </ul>
                </li>
                <li><strong>Compensation and Benefits:</strong>
                    <ul>
                        <li>Handle benefit plans and remuneration packages for employees.</li>
                    </ul>
                </li>
                <li><strong>Employee Relations:</strong>
                    <ul>
                        <li>Deal with any issues or disputes that arise among the staff.</li>
                       
                    </ul>
                </li>
                <!-- Add more HR tasks as needed -->
            </ul>
            </section>
        </div>
    </div>
</div>
{% endblock content %}